@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
$Courier: 'Courier Prime', monospace;
$Archivo:  'Archivo Black', sans-serif;
$ArchivoLight: 'Archivo', sans-serif;
$black: #000;
$btn: #212121;
$blue: #0066FF;
$white: #fff;
$gray: #EAEAEA;